@charset "utf-8";

.inner{
  margin: 0 auto;
  width: 1100px;
}

/* header */

.inner-header{
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 15px 0px;
}

.inner-header nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.icon-link{
  color: #777;
}

.button-link{
  background-color: #6ba7eb;
  color: #ffffff;
  padding: 12px 14px;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.button-link:hover{
  color: #333; 
}

/* keyvisual */

main{
  padding-top: 78px;
}

.keyvisual{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-size: cover;
  background-position: center center;
  padding: 400px 0px;
}

.keyvisual-inner h1{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}

.keyvisual-inner h2{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center; 
  margin-top: 30px;
}

/* WORK */

.work {
  background: #e3f2fd;
  padding-top: 50px;
}

.work-inner{
  display: flex;
}

.work-image{
  flex: 4; 
  display: flex;
  justify-content: center;
}

.work-image img{
  width: 250px;
}

.work-description{
  flex: 6; 
  text-align: center;
}

.work-inner h3{
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px; 
}

p{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}

/* WE ARE SKILLS */

.skills-inner{
  background: #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}

.skills-inner h3{
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.skills-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 100px; 
  list-style: none; 
}

.skills-image li img{
  width: 300px;
  height: 300px;
  opacity: 0.7; 
  transition: opacity 0.3s; 
}

.skills-image li img:hover{
  opacity: 1.0; 
}

/* SELECT PLAN */

.plan{
  background:#d0dfea;
  padding: 50px 0px;
}

.select-inner{
  text-align: center;
}

.select-inner h3{
  font-size: 40px;
  letter-spacing: 10px;
  padding-bottom: 50px;
}

.cell-table{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.cell-table th{
  line-height: 26px;
  font-size: 16px;
}

.cell-table th, .cell-table td {
  border-left: 2px solid #fff;
  padding: 10px;
}

.cell-table th:first-child, .cell-table td:first-child {
  border-left: none;
}

.cell-table tr{
  background: #f9f9f9;
}

.cell-table thead tr:first-child {
  background: #6ba7eb;
}

.cell-table tr:nth-child(even){
  background: #e0efff;
}

/* sns */

.sns{
  background: #e3f2fd;
}

.sns-inner{
  padding: 200px 0px;
  text-align: center;
}

.sns-link{
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  padding: 25px 0px; 
  margin: 72px;
  display: inline-block; 
  transition: background-color 0.5s; 
}

.sns-link:hover{
  color: #fff; 
}

/* footer */

footer{
  background: #cfd8dc;
}

.inner-footer{
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  letter-spacing: 0.5px;
  text-align: right; 
}
